.Login {
  font-size: calc(10px + 4vmin);
  text-align: center;
}

.Login-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Login-logo {
    animation: Login-logo-spin infinite 20s linear;
  }
}

.Login-header {
  background-color: #6e6e6e;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 100px;
  border-radius: 10px;
  opacity: 0.9;
}

.Login-link {
  color: #61dafb;
}

@keyframes login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centerinput{
  text-align: center; /* Center placeholder text */
  padding: 4px;
  width: 177px;
  border-radius: 10px;
}
.button{
  margin-top: 20px;
  background-color: rgb(217, 255, 3);
  color: #000000;
  border: 2px solid #93dd14;
  border-radius: 6px;
  cursor: pointer;
}
.Header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

